<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PublicService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.rms.com.au/RMSPublicService/RMSPublicService.ServiceLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PublicService"
                contract="RMSServiceReference.PublicService" name="BasicHttpBinding_PublicService" />
        </client>
    </system.serviceModel>
</configuration>